<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Itinerary Planner using FCM Cluster</name>

    <description>
        A Novel Efficient Construction of Multiday Itinerary Planning using FCM Clustering 
    </description>

    <author href="#" email="jayapriya311@gmail.com">
        Jayapriya P
    </author>

    <platform name="android" />


</widget>
